{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends '@NgCore/layout.html.twig' %}

{% block title %} {{ parent() }} - annonce {% endblock %}

{% block body %}
    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }} le {{ advert.date|date('d/m/Y') }}</i>
    <p>{{ advert.content }}</p>
    <a href="{{ path('oc_platform_edit', {'id': advert.id }) }}">Editer</a><a href="{{ path('oc_platform_delete', {'id': advert.id}) }}">Supprimer</a>
{%  endblock %}
